body {
    background-color: ghostwhite;
    margin: 0;
    box-sizing: border-box;
}

#root {
    border: solid yellow 10px;
    height: 100vh;
}

.searchResult {
    border: solid black 1px;
}

#header {
    height: 100px;
    border: solid tomato 1px;
}

#side-nav {
    border: solid black 1px;

    height: 100%;
}

.mapContainer {
    /* position: absolute;
    top: 200px;
    left: 30px; */
}

.mapinfobar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    top: 110;
    left: 0;
    margin: 12px;
    border-radius: 4px;
}

.marker {
    width: 30px;
    height: 40px;
}

.searchTarget {
    border: solid black 1px;
}

#appMainContainer {
    border: solid 1px;
    display: grid;
    grid-template-columns: 405px 1fr;
}

#searchbar {
    width: 100%;
}

#searchbar input {
    width: 40%;
    display: inline-block;
    margin: 10px;
}

#searchbar button {
    color: whitesmoke;
    background-color: black;
}

#advancedSearchContainer {
    border: red 2px dotted;
    display: flex;
}
